@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-snap-type: y mandatory;

  @include breakpoint-below("lg") {
    scroll-snap-type: none;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: $secondary;
  background-color: $main;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &.no-scroll {
    overflow: hidden !important;
  }
}

.is-hidden {
  display: none !important;
}

section {
  &[data-section="hero"],
  &[data-section="intro"],
  &[data-section="journey"],
  &[data-section="show"] {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }

  &[data-section="intro"],
  &[data-section="journey"],
  &[data-section="show"] {
    height: 100vh;
  }

  @include breakpoint-below("lg") {
    height: auto !important;
  }
}

footer {
  &[data-section="foot"] {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    height: 100vh;
  }

  @include breakpoint-below("lg") {
    height: auto !important;
  }
}
