.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;

  .header-wrapper {
    @include flex(center, space-between);
    max-width: 1440px;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    height: 10rem;
    position: relative;

    .header-logo {
      z-index: 1;
      font-weight: 900;
      font-size: 2rem;
      color: $secondary;

      @include breakpoint-below("sm") {
        &.is-open {
          color: $main;
        }
      }
    }

    .header-cta {
      @include flex();
      gap: 1rem;
      flex-direction: column;
      background-color: transparent;
      cursor: pointer;
      border: none;
      z-index: 100;

      &.is-open {
        height: 25px;

        .block {
          width: 36px;
          transform: rotate(-45deg);

          &:last-child {
            width: 36px;
            transform: translateY(6px) rotate(45deg);
          }
        }
      }

      .block {
        display: block;
        margin-left: auto;
        width: 40px;
        height: 3px;
        background-color: $main;
        transform-origin: top right;
        @include transition(all);

        &:last-child {
          width: 25px;
          transform-origin: bottom right;
        }
      }
    }

    .nav {
      @include flex();
      flex-direction: column;
      position: absolute;
      padding: 3rem;
      top: 3em;
      right: 0.5em;
      width: 22em;
      visibility: hidden;

      &.is-open {
        opacity: 1;
        visibility: visible;

        &::before {
          opacity: 1;
          transform: scale(1);
          box-shadow: 0 10px 53px 0 rgba(72, 49, 212, 0.05);
        }

        .nav-wrapper {
          opacity: 1;
          transform: translateY(0);
          @include transition(all);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $white;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
        @include transition(all, 300ms, ease);
      }

      .nav-wrapper {
        position: relative;
        opacity: 0;
        transform: translateY(2rem);

        @include transition(translateY, 300ms, ease, 100ms);

        &:nth-child(2) {
          transition-delay: 200ms;
        }

        &:nth-child(3) {
          transition-delay: 300ms;
        }

        &:not(:last-child) {
          margin-bottom: 1em;
        }

        .nav-link {
          line-height: 3em;

          &.get-in-touch {
            color: $third;
            font-weight: 600;
          }

          &.row-link {
            display: inline-block;
            margin-right: 2em;
          }

          .anchor-hover {
            font-size: 1.2rem;
            color: $main;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              max-width: 1.2em;
              width: 100%;
              height: 100%;
              background-color: $main;
              transform: translateX(-0.5em);
              transform-origin: left;
              left: -12px;
              bottom: 0;
              pointer-events: none;
              opacity: 0;
              @include transition(all);
            }

            &:hover {
              &::after {
                opacity: 0.2;
                transform: translateX(0);
                @include transition(all, 300ms, ease, 0ms);
              }
            }
          }
        }
      }

      @include breakpoint-below("sm") {
        @include flex(flex-start, center);
        gap: 1.5rem;
        flex-direction: column;
        position: absolute;
        padding: 3rem 4rem;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        &::before {
          transform: none;
        }

        &.is-open {
          &::before {
            opacity: 1;
          }

          .nav-wrapper {
            opacity: 1;
            @include transition(opacity);
          }
        }

        .nav-wrapper {
          opacity: 0;
          transform: none;
          @include transition(all);

          &:nth-child(2) {
            transition-delay: 0ms;
          }

          &:nth-child(3) {
            transition-delay: 0ms;
          }
        }
      }
    }
  }

  @include breakpoint-below("md") {
    position: relative;

    .header-wrapper {
      padding-inline: 3em;

      .header-cta {
        &.is-open {
          .block {
            background-color: $main;
          }
        }
        .block {
          background-color: $secondary;
        }
      }
    }
  }
}
