.hero-container {
  background-image: linear-gradient(90deg, $cerulean 67%, $green-norway 33%);

  .hero-content {
    @include flex(center, space-around);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 6rem;
    padding-bottom: 3em;
    padding-top: 10em;

    .hero-title {
      flex: 1;

      .title {
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
      }
      .desc {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .detail {
        display: flex;
        gap: 1rem;
        margin-top: 6rem;

        li {
          text-wrap: pretty;
          line-height: 1rem;
          font-size: 12px;
        }
      }
    }

    .hero-img {
      @include flex();
      position: relative;
      flex: 1;

      .img {
        top: 0;
        left: 2em;
        display: block;
        max-width: max-content;
        width: 100%;
        z-index: 1;
      }
    }

    @include breakpoint-below("md") {
      flex-wrap: wrap;
      padding: 0 3rem;
      background-color: $cerulean;

      .hero-title,
      .hero-img {
        width: 100%;

        .title {
          font-size: 2.5rem;
        }

        .detail {
          margin-top: 4rem;

          li {
            font-size: 10px;
          }
        }
      }

      .hero-img {
        flex: none;
        padding: 4rem 0;
      }
    }
  }
}
