@mixin css3-prefix($property, $value) {
  #{$property}: $value;
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

@mixin flex($align: flex-start, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  @include css3-prefix(align-items, $align);
  @include css3-prefix(justify-content, $justify);
}

@mixin border-radius($value) {
  -moz-border-radius: $value;
  -webkit--radius: $value;
  border-radius: $value;
}

@mixin transition($properties, $duration: 300ms, $timing: ease, $delay: 0ms) {
  @include css3-prefix(transition, $properties $duration $timing $delay);
}

@mixin breakpoint-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
