$breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Theme Colors 
$gunmetal: #223843;
$anti-flash-white: #eff1f3;
$timberwolf: #dbd3d8;
$cerulean: #006989;
$green-norway: #a4c2a5; 

// Basic Colors
$white: #fff;
$black: #000;

// Primary Colors
$red: #ff0000;
$red-light: #ff6666;
$red-dark: #990000;

$green: #00ff00;
$green-light: #66ff66;
$green-dark: #009900;

$blue: #0000ff;
$blue-light: #6666ff;
$blue-dark: #000099;
// Secondary Colors
$yellow: #ffff00;
$yellow-light: #ffff66;
$yellow-dark: #999900;

$cyan: #00ffff;
$cyan-light: #66ffff;
$cyan-dark: #009999;

$magenta: #ff00ff;
$magenta-light: #ff66ff;
$magenta-dark: #990099;