.hero {
  background-image: linear-gradient(90deg, $main 67%, $third 33%);

  .hero-wrapper {
    @include flex(center, space-between);
    max-width: 1440px;
    width: 100%;
    padding: 0 6rem;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 2rem;

    > * {
      padding: 0 1rem;
      height: 100%;
    }

    .hero-title {
      flex: 1;
      color: $white;

      .title {
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
      }
      .desc {
        font-size: 1.2rem;
        line-height: 2rem;
      }

      .detail {
        display: flex;
        gap: 1rem;
        margin-top: 5rem;
        margin-bottom: 2rem;

        li {
          text-wrap: pretty;
          line-height: 1rem;
          font-size: 12px;
        }
      }
    }

    .hero-img {
      @include flex();
      position: relative;
      flex: 1;

      .img-wrapper {
        .img {
          display: block;
          width: 100%;
        }
      }
    }

    @include breakpoint-below("md") {
      flex-wrap: wrap;
      padding: 0 3rem;
      background-color: $main;

      .hero-title,
      .hero-img {
        width: 100%;
        padding: 2rem 0;

        .title {
          font-size: 2.5rem;
        }

        .detail {
          margin-top: 4rem;
          margin-bottom: 0;

          li {
            font-size: 10px;
          }
        }
      }

      .hero-img {
        flex: none;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          width: 100vw;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $secondary;
          z-index: -1;
        }
      }
    }
  }
}
